.grid {
  display: grid;
  grid-template-columns: repeat(var(--n, 5), 1fr);
  grid-auto-rows: 1fr;
  gap: 0px;
  column-gap: 0;
}

#animationSpeedSlider {
  width: 150px;
}

body {
  background-color: rgba(117, 117, 117, 0.274);
  font-size: 1rem;
}
.cell {
  width: 15px; /* Adjust the size of the cells as needed */
  height: 15px;
  background-color: '#ccc';
  border: 0.5px solid black;
}
.output {
    /* cursor: pointer; */
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 2px;
}
.starting-button {
    background-color: green;
}
.goal-button {
    background-color: red;
}


